h5 {
  text-align: left;
}
.trade {
  /* display: inline-block; */
  border: 1px solid burlywood;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.temp {
  /* display: flex; */
  /* height: 560px; */
  width: 100%;
  /* margin-left: -90px; */
  justify-content: space-between;
}
.all {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.market_container {
  background: rgba(17, 22, 34, 1);
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  background-color: rgba(46, 52, 69, 1);
}
.header .logo {
  font-size: 22px;
  font-weight: bolder;
  /* color: #fff; */
  padding-right: 10px;
  margin-right: 10rem;
  background: -webkit-linear-gradient(
    rgba(29, 205, 254, 1),
    rgba(33, 208, 179, 1),
    rgba(52, 245, 198, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .header .logo i{
        color: #fff;
        padding: 0.5rem;
      } */
.header .navbar a {
  font-size: 1.1rem;
  margin: 0 1rem;
  color: #fff;
}
.header .navbar a:hover {
  color: #baa6cf;
}
.header .btn {
  background: transparent;
  /* color: tomato; */
  /* border: 1px solid tomato; */
  font-size: 1.1rem;
  padding: 8px;
}

/* overview */

.overview {
  display: flex;
  color: white;
  font-size: 14px;
  padding: 90px 10px 20px 10px;
}
.overview p {
  padding: 0 20px;
  margin: 0;
}

.overview p:first-child {
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 20px;
  margin-right: 20px;
}

/* .all{
        display: flex;
    } */
/* stock screener */

.searchstock {
  padding: 60px 0 0px 0;
  /* padding:24px; */
  font-family: "Poppins", sans-serif;
  /* margin:0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h5 {
  color: rgb(82, 82, 82);
  padding: 5px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  /* margin: 5px 5px 5px -30px; */
  width: 23.5%; /* set width to match table */
  background-color: rgba(46, 52, 69, 1); /* set background color */
  border-radius: 10px;
  /* width: 525px; */
}

#search-stock {
  flex-grow: 1;
  padding: 4px;
  border-radius: 5px;
  border: 1px;
  border-color: rgba(127, 133, 148, 1);
  background-color: rgba(46, 52, 69, 1);
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); */
}

/* Table Styles */

/* .table-wrapper { 
      margin: 10px 0px 20px 60px; 
      box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    } */

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.fl-table {
  border-radius: 2px;
  font-size: 12px;
  font-weight: normal;
  /* border: none; */
  border-collapse: collapse;
  width: 100%;
  /* width: 25%; */
  height: 490px;
  white-space: nowrap;
  background-color: rgba(46, 52, 69, 1);
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 12px 6px 8px 12px;
  padding-left: 0;
  padding-right: 0;
}

.fl-table td {
  /*     border-right: 1px solid #f8f8f8; */
  font-size: 16px;
  font-weight: 100;
  width: 250;
  color: white;
}

.fl-table thead {
  background: rgba(31, 36, 50, 1);
}

.fl-table thead th {
  background: -webkit-linear-gradient(
    rgba(29, 205, 254, 1),
    rgba(52, 245, 198, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .fl-table thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
      }
      
      .fl-table tr:nth-child(even) {
        background: #F8F8F8;
      } */

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    /*         border-bottom: 1px solid #f7f7f9; */
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  /*     .fl-table tr td:nth-child(odd) {
            background: #F8F8F8;
            border-right: 1px solid #E6E4E4;
        }
        .fl-table tr td:nth-child(even) {
            border-right: 1px solid #E6E4E4;
        } */
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/* stock explain */
/* https://codepen.io/Noeh-l/pen/abamMbp */

.trade {
  padding: 0px 0 0px 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* margin-left: 25px; */
  align-items: center;
}
.main-card {
  /* display: flex; */
  justify-content: center;
  margin: auto;
  width: 50%;
}
/* This is the card */
.trade {
  width: 20%;
  /* height: 40vh; */
  border-radius: 15px;
  /* display: inline; */
  justify-content: space-between;
  align-items: center;
  /* padding: 0 40px; */
  background-color: rgba(46, 52, 69, 1);
  /* width: 48%; */
  /* max-width: 50%; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
}

.mytitle {
  font-size: 3vh;
  width: 100%;
  /* margin: 0 0 0 0; */
  padding: 2vh;
  color: white;
  align-content: center;
}

.undertitle {
  color: rgba(204, 199, 199, 0.864);
  padding: 2vh;
  margin: 0;
  font-weight: 100;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 20px; */
  margin: 10px 0 10px 0;
}

.card-content {
  font-size: 1.1em;
  width: 100%;
  text-align: justify;
  margin: 0px 10px 0px 10px;
}

.card-title {
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.5);
  letter-spacing: -0.02em;
  font-style: normal;
  font-size: 2.5vh;
  padding-bottom: 0px;
  /* margin: 0px 0 0 0; */
}
.card-description {
  font-weight: 60;
  color: white;
  font-size: 2vh;
  max-width: 470px;
  margin-top: 0;
}

/* styling form */
.market-input-text {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.market-input-submit {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin: auto;
  width: 25%;
  display: grid;
  cursor: pointer;
  text-align: center;
}
/* Style the container */
.container {
  height: 300px;
  width: 300px;
  background-color: white;
  /* box-shadow: 8px 8px 20px rgb(128, 128, 128); */
  position: relative;
  overflow: hidden;
  text-align: center;
}
.out_field {
  float: left;
  width: 75%;
  width: 150px;
  /* margin-top: 6px; */
}
.in_field {
  float: left;
  width: 25%;
  width: 150px;
  /* margin-top: 6px; */
}
/* .col-25 {
    float: left;
    width: 25%;
    width: 150px;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    width: 70px;
    margin-top: 6px;
  } */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* more stylling in login signup */
.btn {
  /* height: 30px; */
  /* width: 150px; */
  /* margin: 20px auto; */
  /* box-shadow: 10px 10px 30px rgb(254, 215, 188); */
  border-radius: 10px;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.buy,
.sell {
  font-size: 17px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.slider {
  height: 30px;
  width: 75px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91)
  );
  position: absolute;
  top: 20px;
  left: 76px;
  transition: all 0.5s ease-in-out;
}
.moveslider {
  left: 150px;
}

.form-section {
  height: 500px;
  width: 1000px;
  /* padding: 20px 0; */
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
  left: -300px;
}

.buy-box,
.sell-box {
  height: 100%;
  text-align: center;
  width: 300px;
}

.ele {
  height: 60px;
  width: 400px;
  outline: none;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
}



* {
  margin: 0px;
}
.stock-card-container {
  /* height: 40vh; */
  border-radius: 15px;
  display: flex;
  /* height: 230px; */
  border: 1px solid black;
  width: 26vw;
  padding-top: 30px;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.stock-card-container {
  background-color: rgb(242, 244, 248);
}
.stock-card-information {
  /* width: 30%; */
  margin-left: 20px;
  margin-top: 5px;
}
.company-name {
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 10px;
  font-weight: 300;
}
.stock-card-chart {
  /* width: 70%; */
  /* margin-right: 5vh; */
}
img{
  margin-right: 5vw;
}
.bold {
  font-weight: bolder;
}
.stockDetails {
  padding-left: 3em;
}
.input-small {
  width: 35px;
  padding: 0;
  position: relative;
  top: -5px;
}
.add-minus-icon {
  background: transparent;
  border: 0px;
  padding: 0;
  margin: 2px 3px;
}
.add-minus-button-container {
  margin-top: 10px;
  margin-left: 20px;
}
.green {
  color: green;
}
.red {
  color: red;
}
.btn3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #34d973;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 2vh;
  margin-bottom: 3vh;
}

.btn3:hover {
  background: #21b051;
  text-decoration: none;
}
.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #de041a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #ab0f0f;
  text-decoration: none;
}

.stock{
  display: flex;
  flex-direction:row;
}

.btn4{
  border: rgba(46, 52, 69, 1);
  text-decoration: underline;
}

/* .btn4 button:hover {
  color: #baa6cf;
} */